# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CourseProjectOOP.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Марат\RiderProjects\CourseProjectOOP\.idea\.idea.CourseProjectOOP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
